<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css"  />
<title>Sandesh Library</title>
</head>
<body>
<header th:fragment="header">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Sandesh</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{viewbooks}"> Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/viewreaders}">Reader</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/assignbook}">Assign Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/contact-us}">Contact Us</a>
        </li>
       
       
      </ul>
     
    </div>
  </div>
</nav>
</header>
</body>
</html>